*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  text-align: center;
}

div.icon-phone-form {
  display: absolute;

}

div.icon-phone-form img {
  width: 100px;
  height: 50px;
}

span.form-control-feedback{
  top:42%;
  right:2%;
  display: none;
}


